@page "/food/recipe/builder"
@page "/food/recipe/builder/{foodterm}"
@using ElementaCibi.Data.FdcModels.Search;
@using ElementaCibi.Data.Models;
@inject Data.Services.FoodDataCentralService FoodDataCentralService;
@inject NavigationManager NavigationManager;

<h3>Recipe Builder</h3>

<EditForm Model="@foodSearch" OnValidSubmit="Search">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <InputText @bind-Value="foodSearch.Term"></InputText>
    <button type="submit" class="btn btn-primary">Search</button>
</EditForm>

@if(foodSearchResult.Count > 0)
{
    <table class="table">
        <thead class="table-light">
            <tr>
                <th>FDCId</th>
                <th>Description</th>
                <th>Data Type</th>
                <th>Brand</th>
            </tr>
        </thead>
        @foreach(Food food in foodSearchResult)
        {
            <tr @onclick="() => ShowDetails(food.FdcId)">
                <td>@food.FdcId</td>
                <td>@food.Description</td>
                <td>@food.DataType</td>
                <td>@food.Brand</td>
            </tr>
            if(foodDetail != null && food.FdcId == foodDetail.FdcId)
            {
                if (foodDetail?.Portions.Count > 0)
                {
                    <tr>@foodDetail.Portions[0].Description</tr>
                    <tr>Add Ingredient</tr>
                }
            }

        }
    </table>

    <style>
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: dodgerblue;
        }
    </style>
}

@code {
    [Parameter]
    public string? FoodTerm { get; set; }
    private FoodSearch foodSearch = new FoodSearch();
    private List<Food> foodSearchResult = new List<Food>();
    private Food? foodDetail;

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(FoodTerm))
        {
            foodSearch.Term = FoodTerm;
            await Search();
        }
    }

    private async Task Search()
    {
        if (FoodTerm != foodSearch.Term)
        {
            FoodTerm = foodSearch.Term;
            NavigationManager.NavigateTo($"/food/recipe/builder/{FoodTerm}");
        }
        foodSearchResult.Clear();
        var result = await FoodDataCentralService.GetFoodBySearchTerm(foodSearch);
        if(result?.Foods != null)
        {
            foreach(SearchResultFood searchResultFood in result.Foods)
            {
                var f = new Food();
                f.FdcSearchToFood(searchResultFood);
                foodSearchResult.Add(f);
            }
        }
    }

    private async Task ShowDetails(int fdcId)
    {
        foodDetail = await FoodDataCentralService.GetFoodByIdAsync(fdcId.ToString());
    }

    private void AddIngredient(int id, Portion portion)
    {
    }
}
