@page "/food/details/{id}"
@using ElementaCibi.Data.FdcModels.Search;
@using ElementaCibi.Data.FdcModels;
@using ElementaCibi.Data.Models;
@using ElementaCibi.Data.FdcModels.Constants;
@inject Data.Services.FoodDataCentralService FoodDataCentralService;

<h3>Food Details</h3>

@if(Food != null)
{
    <table class="table">
        <tr>
            <th>FDCId</th>
            <td>@Food.FdcId</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Food.Description</td>
        </tr>
        <tr>
            <th>Data Type</th>
            <td>@Food.DataType</td>
        </tr>
        @if(!string.IsNullOrEmpty(Food.Brand))
        {
            <tr>
                <th>Brand</th>
                <td>@Food.Brand</td>
            </tr>
        }
        <tr>
            <th>Calories</th>
            <td>
                @if (Food.Calories != null)
                {
                    @Food.Calories.Amount@:&nbsp;@Food.Calories.Unit
                }
            </td>
        </tr>
        <tr>
            <th>Fiber</th>
            <td>
                @if (Food.Fiber != null)
                {
                    @Food.Fiber.Amount@:&nbsp;@Food.Fiber.Unit
                }
            </td>
        </tr>
        <tr>
            <th>Ratio</th>
            <td>
                @Food.Ratio
            </td>
        </tr>
        <tr>
            <th>💯</th>
            <td>
                @Food.Hundred
            </td>
        </tr>
    </table>

    <style>
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: dodgerblue;
        }
    </style>
}

@code {
    [Parameter]
    public string? Id { get; set; }
    private Food Food = new Food();

    protected override async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            var result = await FoodDataCentralService.GetFoodByIdAsync(Id);
            if (result != null)
                Food = result;
        }

    }
}
